# Default ignored files
/shelf/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../StarshipsShop.iml
.idea/compiler.xml
.idea/uiDesigner.xml
.idea/dictionaries/Admin.xml
jarRepositories.xml
misc.xml
vcs.xml
workspace.xml
StarshipsShop.iml
# Editor-based HTTP Client requests
/httpRequests/
